<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
          name="description">

    <!-- title -->
    <title>Check Out</title>

    <!-- favicon -->
    <link href="/img/favicon.png" rel="shortcut icon" type="image/png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/css/all.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- owl carousel -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <!-- magnific popup -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- animate css -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- mean menu css -->
    <link href="/css/meanmenu.min.css" rel="stylesheet">
    <!-- main style -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- responsive -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>
<body>

<div>
    @RenderBody()
</div>
<!-- jquery -->
<script src="/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="/js/sticker.js"></script>
<!-- main js -->
<script src="/js/main.js"></script>
</body>
</html>