@page
@using System.Reflection
@using DataAccess.Model
@model BookDetails
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "BookDetail";

    var categories = typeof(BookCategory).GetFields(
        BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)
        .Where(info => info is { IsLiteral: true, IsInitOnly: false })
        .Select(info => info.GetRawConstantValue()?.ToString())
        .ToList();

    int quantiy = 5;
    if (Model.Book.StockQuantity < 5)
    {
        quantiy = Model.Book.StockQuantity;
    }
}

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img alt="" src="imgstorebook/author-book-store-book-cover-06.jpg">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>@Model.Book.Title</h3>
                    <p class="single-product-pricing"><span>Per 1</span> $@Model.Book.Price</p>
                    <p>@Model.Book.Description</p>
                    <div class="single-product-form">
                        <form method="post" asp-page-handler="AddToCart">
                            <input placeholder="1" name="quantity" type="number" min="1" max="5">
                            <input type="hidden" name="Id" value="@Model.Book.BookId"/>
                            <button class="btn_nha" type="submit"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                        </form>
                        <p>
                            <strong>Categories: </strong>@Model.Book.Category?.Name
                        </p>
                    </div>
                    <h4>Share:</h4>
                    <ul class="product-share">
                        <li>
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Related</span> Products</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                        beatae optio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img alt=""
                                 src="imgstorebook/author-book-store-book-img-01.jpg">
                        </a>
                    </div>
                    <h3>The Sons of The Empire</h3>
                    <p class="product-price"><span>Per 1</span> 90$ </p>
                    <a class="cart-btn" href="cart.html"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img alt=""
                                 src="imgstorebook/author-book-store-book-img-02.jpg">
                        </a>
                    </div>
                    <h3>Mists Of Algorab</h3>
                    <p class="product-price"><span>Per 1</span> 65$ </p>
                    <a class="cart-btn" href="cart.html"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img alt=""
                                 src="imgstorebook/author-book-store-book-cover-07.jpg">
                        </a>
                    </div>
                    <h3>The Throned Mirro</h3>
                    <p class="product-price"><span>Per 1</span> 70$ </p>
                    <a class="cart-btn" href="cart.html"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end more products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/1.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/2.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/3.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/4.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->