@page
@using System.Reflection
@using DataAccess.Model
@model Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Home";

    var categories = typeof(BookCategory).GetFields(
        BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)
        .Where(info => info is { IsLiteral: true, IsInitOnly: false })
        .Select(info => info.GetRawConstantValue()?.ToString())
        .ToList();
}
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over $75</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund within 3 days!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Feature</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.ListBook)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html">
                                <img src="imgstorebook/author-book-store-book-img-01.jpg" alt="">
                            </a>
                        </div>
                        <h3>@item.Title</h3>
                        <p class="product-price"><span>Per 1</span> @item.Price $ </p>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }
            
            @*<div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="imgstorebook/author-book-store-book-cover-07.jpg" alt="">
                        </a>
                    </div>
                    <h3>The Throned Mirro</h3>
                    <p class="product-price"><span>Per 1</span> 70$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="imgstorebook/author-book-store-book-img-01.jpg" alt="">
                        </a>
                    </div>
                    <h3>The Sons of The Empire</h3>
                    <p class="product-price"><span>Per 1</span> 90$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->