@page
@model RegisterModel
@{
    Layout = "_LayoutLogin";
}
<div class="fix-menu">
    <div class="theme-loader">
        <div class="ball-scale">
            <div class="contain">
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="signup-card card-block auth-body mr-auto ml-auto">
                        <form class="md-float-material" method="post">
                            <div class="text-center">
                                <img src="../login/assets/images/auth/logo-dark.png" alt="logo.png">
                            </div>
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                                    </div>
                                </div>
                                <hr/>
                                <div class="input-group">
                                    <input type="text" required title="Please enter username" asp-for="CreateUser.Username" class="form-control" placeholder="Choose Username">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="email" required title="Please enter email" asp-for="CreateUser.Email" class="form-control" placeholder="Your Email Address">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" required title="Please enter password" asp-for="CreateUser.Password" class="form-control" placeholder="Choose Password">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" required title="Please enter your first name" asp-for="CreateUser.Firstname" class="form-control" placeholder="Your Firstname">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" required title="Please enter your last name" asp-for="CreateUser.Lastname" class="form-control" placeholder="Your Lastname">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" required title="Please enter your city" asp-for="CreateUser.City" class="form-control" placeholder="City">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" required title="Please enter your address" asp-for="CreateUser.Address" class="form-control" placeholder="Address">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required title="Please enter a 10-digit phone number" asp-for="CreateUser.PhoneNumber" class="form-control" placeholder="Phone Number">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <label asp-for="CreateUser.Birthdate" class="control-label" style="color: black"></label>
                                    <input asp-for="CreateUser.Birthdate" type="date" required id="dateDate" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                                    <span asp-validation-for="CreateUser.Birthdate" class="text-danger"></span>
                                </div>
                                @*<div class="row m-t-25 text-left">
                                    <div class="col-md-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">I read and accept <a href="#">Terms &amp; Conditions.</a></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Send me the <a href="#!">Newsletter</a> weekly.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group text-danger">
                                    @ViewData["notification"]
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now.</button>
                                    </div>
                                </div>

                                @*<div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                                        <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="../login/assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                    </div>
                                </div>*@
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

</div>